###############################################################################
# Mac OS Files
###############################################################################
# Thumbnail files
.DS_Store

###############################################################################
# Windows OS Files
###############################################################################
# Thumbnail files
._*

###############################################################################
# Large Files
###############################################################################
data/biorxiv_medrxiv/
data/comm_use_subset/
data/custom_license/
data/noncomm_use_subset/