###############################################################################
# Mac OS Files
###############################################################################
# Thumbnail files
.DS_Store



###############################################################################
# Windows OS Files
###############################################################################
# Thumbnail files
._*